<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header  th:replace="~{fragments :: header}" > </header>
<div id="admin-bar">
    <div class="nav">
        <a class="navlink" href="/applications">View List of Applications</a>
        <a class="navlink" href="/applications/delete">Delete Application</a>

    </div>
</div>
<main>
    <h3>Add Application</h3>
    <form action='/applications/add' method='POST'>

        <div class="form-item">
            <label th:for="positions"> Position</label>
            <select th:field="${jobApplication.position}">
                <option th:each="position : ${positions}"
                        th:value="${position.id}"
                        th:text="${position}"
                ></option>
            </select>
        </div>


        <div class="form-item">
            <label th:for="company">Company</label>
            <input th:field="${jobApplication.company}" />
            <p class="error" th:errors="${jobApplication.company}"></p>
        </div>

        <div class="form-item">
            <label th:for="applicationDate">Application Date</label>
            <input type="date" th:field="${jobApplication.applicationDate}" placeholder="yyyy-MM-dd" />
            <p class="error" th:errors="${jobApplication.applicationDate}"></p>
        </div>

        <div class="form-item">
            <label th:for="compensation">Compensation</label>
            <input th:field="${jobApplication.compensation}"/>
            <p class="error" th:errors="${jobApplication.compensation}"></p>
        </div>

        <div class="form-item">
            <label th:for="applicationStatus">Application Status</label>
            <select th:field="${jobApplication.applicationStatus}">
                <option th:each="status : ${applicationStatus}"
                        th:value="${status}"
                        th:text="${status.displayName}"
                ></option>
            </select>
            <p class="error" th:errors="${jobApplication.applicationStatus}"></p>
        </div>

        <button type='submit'>Add to Applications</button>
    </form>
</main>
</body>
</html>