<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header  th:replace="~{fragments :: header}"> </header>

    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/applications/add">Add Application</a>
            <a class="navlink" href="/applications/delete">Delete Application</a>
        </div>
    </div>

    <main>
        <h2>Applications</h2>

        <p th:unless="${applicationList} and ${applicationList.size()}">
            <em>No job applications is available to display.</em>
        </p>

        <th:block th:if="${jobApplications} and ${jobApplications.size()}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Application Date</th>
                    <th>Compensation</th>
                    <th>Application Status</th>
                </tr>
                </thead>
                <tr th:each="applications : ${jobApplications}">
                    <td th:text="${applications.id}"></td>
                    <td th:text="${applications.position}"></td>
                    <td th:text="${applications.company}"></td>
                    <td th:text="${applications.applicationDate}"></td>
                    <td th:text="${applications.compensation}"></td>
                    <td th:text="${applications.applicationStatus.displayName}"></td>
                </tr>
            </table>
        </th:block>
    </main>
</body>
</html>

